body {
	background-color:#f8f8f8;
}
.hidden {
	display:none;
}
#content {
	width:49.2em;
	border:1px solid #000;
	margin:3em auto;
}
#content-bar {
	display:flex;
	width:200%;
	transition: margin .5s;
}
.container {
	position:relative;
	width:50%;
	transition:.3s;
}
.view {
	position:relative;
}
.brick {
	margin:1em;
}
.column {padding:0 .5em;}
.column-double {padding:0 1em;}
.button {
	display:inline-block;
	background-color:#333;
	color:#f8f8f8;
	padding:0 .5em;
	line-height:1.62;
	text-transform:uppercase;
	font-size:.62em;
	cursor:pointer;
	transition:.2s;
	border:none;
	font-weight:700;
	letter-spacing:.05em;
}
.button:hover {
	background-color:#f55;
}
.ajax-form {
	position:relative;
}

.title {
	text-align:center;
	font-size:1.29em;
	border-bottom:1px solid #999;
	padding:.25em;
	margin-top:1em;
	margin-bottom:.5em;
}


/*----- loading -----*/
.container:after,
.ajax-form:after,
.view:after {
	content:'';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:rgba(248, 248, 248, 0);
	opacity:0;
	transition:.3s;
	pointer-events:none;
}
.container.loading:after,
.ajax-form.loading:after,
.view.loading:after {
	opacity:1;
	background-color:rgba(248, 248, 248, 0.75);
	box-shadow:0 0 0 1px #f55 inset;
	pointer-events:auto;
}
.loading-icon {
	position:absolute;
	z-index:1;
	width:2em;
	top:50%;
	left:50%;
	margin:-1em;
	opacity:0;
	transition:.3s;
}
.loading > .loading-icon {
	opacity:1;
}
@keyframes loading-spin {
	0% {
		transform:rotate(0deg);
		stroke-dasharray:251.32741228718345;
		stroke-width:5;
	}
	15% {
		stroke-dasharray:1 82.77580409572782;
		stroke-width:30;
	}
	55% {
		stroke-dasharray:15 68.77580409572782;
		stroke-width:30;
	}
	70% {
		stroke-dasharray:10 241.32741228718345;
	}
	100% {
		stroke-dasharray:251.32741228718345;
		transform:rotate(1440deg);
		stroke-width:5;
	}
}
.loading-icon circle {
	fill:none;
	stroke:#f55;
	stroke-linecap:round;
	transform-origin:41.6667% 41.6667%;
}
.loading > .loading-icon circle {
	animation:loading-spin 10s infinite cubic-bezier(0.95, 0.1, 0.1, 0.95);
}


/*----- entry-list -----*/
.single-entry {
	position:relative;
	width:15em;
	border-bottom:.5em solid #f55;
	overflow:hidden;
	transition:.2s;
	cursor:pointer;
}
.single-entry:hover {
	box-shadow:0 0 0 1px #f55;
}
.entry-name {
	text-align:center;
	background-color:#333;
	color:#f8f8f8;
	padding:.25em 1em;
}
.entry-progress {
	text-transform:uppercase;
	padding-bottom:.2em;
	background-color:#333;
}
.entry-progress-col {
	width:100%;
	text-align:center;
	align-items:center;
	padding:.15em;
	min-height:1.49em;
	display:flex;
	justify-content:center;
}
.entry-progress-separator {
	color:#f55;
	font-size:.62em;
	padding-left:.5em;
}
.entry-progress-value {
	padding:0 .25em;
	color:#f8f8f8;
}
.entry-image {
	position:relative;
	background-color:#eee;
}
.entry-image:after {
	content:'';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	box-shadow:0 0 10em 0 rgba(142, 56, 0, 0.1) inset;
	z-index:1;
}
.entry-buttons {
	position:absolute;
	bottom:.5em;
	right:.5em;
	opacity:0;
	transition:.2s;
	z-index:1;
}
.single-entry:hover .entry-buttons {
	opacity:1;
}


/*----- edit-entry -----*/
.input-line {
	display:flex;
	align-items:center;
	margin-top:.5em;
}
.input-label {
	font-size:.62em;
	text-transform:uppercase;
	padding-right:1em;
	min-width:10em;
	transition:.2s;
	font-weight:700;
	letter-spacing:.05em;
}
.input-line:hover .input-label {
	color:#f55;
}
input[type="text"] {
	width:100%;
	border:none;
	background:none;
	font:inherit;
	padding:.25em.5em;
	box-shadow:0 1px 0 0 #f55;
	transition:.2s
}
input[type="text"]:hover,
input[type="text"]:focus {
	outline:none;
	box-shadow:0 3px 0 0 #f55;
}


/*----- reader filelist -----*/
.reader-entry-name {
	font-size:1.62em;
	font-weight:700;
}
.file {
	font-size:.79em;
	cursor:pointer;
	transition:.2s;
	margin-bottom:.5em;
	padding:.25em .5em;
	position:relative;
	display:flex;
	align-items:center;
}
.file:hover {
	color:#f55;
	background-color:#eee;
}
.chapter-number {
	font-size:.79em;
	margin-right:1em;
	min-width:1.6em;
	background-color:#333;
	height:1.6em;
	display:flex;
	align-items:center;
	justify-content:center;
	color:#fff;
	border-radius:.8em;
	transition:.2s;
}
.file:hover .chapter-number {
	background-color:#f55;
}


/*----- madokami -----*/
.madokami-file {
	padding-bottom:.35em;
}
.madokami-file.read .madokami-chapter-number {
	background-color:#999;
}
.madokami-file.downloaded .madokami-chapter-number {
	background-color:#796;
}

.madokami-download-progress-bar {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:1px;
	transition:.2s;
}
.madokami-file:hover .madokami-download-progress-bar {
	background-color:#fcc;
}
.madokami-download-progress-bar .progress {
	width:0;
	height:100%;
	background-color:#f55;
	transition:1s linear;
}
.madokami-file.downloaded,
.madokami-file.read {
	color:#999;
}
.madokami-file.downloaded .madokami-download-progress-bar .progress {
	width:100%;
	background-color:#796;
}