body {
	background-color:#333;
	color:#333;
}
#content {

}
.container {
	width:40em;
	margin:3em auto;
	background-color:#fff;
	padding:2em;
	border-bottom:.3em solid #f55;
	transition:1s;
}

.title {
	font-weight:700;
	font-size:1.62em;
	color:#555;
	text-align:center;
}

.button {
	display:inline-block;
	width:auto;
	border:none;
	background-color:#555;
	color:#fff;
	padding:.2em .5em;
	cursor:pointer;
	text-transform:uppercase;
	font-size:.62em;
	letter-spacing:.1em;
	transition:.2s;
	margin:.1em;
	box-shadow:none;
}
.button:hover {
	background-color:#f55;
}

#messages {
	padding:2em;
	width:30em;
	position:fixed;
	bottom:0;
	left:0;
}
.message {
	background-color:#fff;
	padding:.25em 1em;
	border-bottom:.2em solid #f55;
	margin:.25em 0;
	transition:.3s;
}
.message.removing {
	opacity:0;
}

.hidden {
	display:none;
}
.show-more {
	cursor:pointer;
	transition:.2s;
	width:2em;
	padding:.5em;
}
.show-more:hover {
	padding-top:.75em;
	padding-bottom:.25em;
}
.show-more path {
	fill:none;
	stroke-width:10;
	stroke:#333;
	stroke-linecap:round;
	stroke-linejoin:round;
}
.show-more.active {
	transform:rotate(180deg);
}

.icon {
	font-size:1.27em;
	padding:0 .1em;
}
.link {
	cursor:pointer;
	transition:.2s;
}
.link:hover {
	color:#f55;
}

/*----- forms -----*/
.input-line {
	padding:.25em 0;
	display:flex;
	align-items:center;
}
.input-label {
	min-width:10em;
	font-size:.62em;
	text-align:right;
	padding-right:1em;
}
input {
	background-color:transparent;
	border:none;
	box-shadow:0 .1em 0 0 #f55;
	width:100%;
	margin:0;
	padding:.25em .5em;
	transition:.2s;
	font:inherit;
}
input:not(.button):focus,
input:not(.button):hover {
	background-color:#f8f8f8;
	box-shadow:0 .2em 0 0 #f55;
}
input:focus,
input:hover {
	outline:none;
}

/*----- entry list -----*/
.entry-main-column {
	margin-right:.5em;
	width:100%;
	flex-shrink:2;
}
.entry-main-line {
	border-bottom:1px solid #ccc;
}
.entry-name {
	font-weight:700;
	margin-right:1em;
	font-size:.79em;
	line-height:1.15;
}
.entry-left-downloaded .entry-name {
	color:#f55;
}
.entry-date,
.entry-type {
	text-align:right;
	font-size:.62em;
	text-transform:uppercase;
}
.entry-icons-column {
	min-width:3.1em;
	flex-grom:2;
}
.entry-progress {
	font-size:.62em;

}
.entry-progress-separator {
	font-weight:700;
	text-transform:uppercase;
	margin-left:1em;
}

/*----- reader -----*/
.reader-return {
	position:fixed;
	top:1em;
	left:1em;
}
.reader-page {
	display:block;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}
.reader-manga-file {
	font-size:.79em;
	transition:.2s;
	cursor:pointer;
	padding:.25em 0;
	transition:.2s;
}
.reader-manga-file-read {
	opacity:.5;
}
.reader-manga-file-last-read {
	color:#59f;
}
.reader-manga-file:hover,
.reader-manga-file:hover .reader-manga-file-last-read {
	color:#f55;
}