/*----- edit-entry -----*/
.input-line {
  display: flex;
  align-items: center;
  margin-top: .5em;
}

.input-label {
  font-size: .62em;
  text-transform: uppercase;
  padding-right: 1em;
  min-width: 12em;
  transition: .2s;
  font-weight: 700;
  letter-spacing: .05em;
  flex-shrink: 0;
  text-align: right;
}

.input-line:hover .input-label {
  color: #f55;
}

input[type="text"] {
  width: 100%;
  border: none;
  background: none;
  font: inherit;
  font-size: .7em;
  padding: .25em.5em;
  box-shadow: 0 1px 0 0 #f55;
  transition: .2s
}

input[type="text"]:hover, input[type="text"]:focus {
  outline: none;
  box-shadow: 0 3px 0 0 #f55;
}
