/*----- entry-list -----*/
.entry-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.view-part-single_entry {
  padding: 1em;
  width: 100%;
  max-width: 35em;
}

.single-entry {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-bottom: .5em solid #f55;
  display: flex;
}

.single-entry:hover, .single-entry:focus {
  box-shadow: 0 0 0 1px #f55, 0 0 .5em 1px rgba(0, 0, 0, .5);
  transform: scale(1.02);
}

.single-entry-info {
  background-color: #333;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.entry-name {
  text-align: center;
  color: #f8f8f8;
  padding: .25em 2em;
  font-weight: 700;
  min-height: 4.3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.entry-progress {
  text-transform: uppercase;
  padding-bottom: .2em;
  background-color: #333;
}

.entry-progress-col {
  width: 100%;
  text-align: center;
  align-items: center;
  padding: .15em;
  min-height: 1.49em;
  display: flex;
  justify-content: center;
}

.entry-progress-separator {
  color: #f55;
  font-size: .62em;
  padding-left: .5em;
}

.entry-progress-value {
  padding: 0 .25em;
  color: #f8f8f8;
}

.entry-image {
  position: relative;
  background-color: #eee;
  width: 12em;
  flex-shrink: 0;
}

.entry-image:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 10em 0 rgba(142, 56, 0, 0.1) inset;
  z-index: 1;
}

.entry-buttons {
  position: absolute;
  top: .5em;
  right: .5em;
  opacity: 0;
  transition: .2s;
  z-index: 1;
}

.single-entry:hover .entry-buttons {
  opacity: 1;
}
